<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTHA-deE7a4tcpUrT-tlON44DQYFHFZqE</string>
	<key>GCM_SENDER_ID</key>
	<string>412763937768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmbartis.GeoAlarm</string>
	<key>PROJECT_ID</key>
	<string>geoalarms-e1ec7</string>
	<key>STORAGE_BUCKET</key>
	<string>geoalarms-e1ec7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412763937768:ios:e4ff4ad08563bd9075e25d</string>
</dict>
</plist>